@charset "utf-8"

body {
	padding-top: 50px;
}

.em-text{
	color: #1caa98 !important;
}

section{
	padding: 40px 0 40px 0;
}

.jumbotron {
	background: url(../img/site_showcase_bg.jpg) no-repeat;
	color: #fff;
	height: 597px;
	overflow: none;
}

.jumbotron h1 {
	margin-top: 60px;
}

.jumbotron p {
	margin-bottom: 40px;
}

.jumbotron img.app-btn {
	width: 40%;
	margin-right: 30px;
}

.jumbotron .showcase-img {
	width: 75%;
	height: 63%;
}

.demo {
	width: 100%;
	padding: 3px;
	border: 1px solid #ccc;
}